.wrap {
    width: 375px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: bisque;
    align-items: flex-end;
}
.list{
background-color: #5E909E;
display: flex;
justify-content: space-between;
width: 333px;
z-index: 111;
}
/* 33, 138 231 321 */
.link{
    padding: 8px 0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.active{
    background-color: #FFFFFF;
    transform: translateY(-10px);
}


.indi{
    /* background-color: #5E909E; */
    background-color: blue;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transition: all 2s ease;
    z-index: -1;
}

.link:nth-child(1) .active ~ .indi{
    transform: translateX(calc(60px * 0));
}
.link:nth-child(2) .active ~ .indi{
    transform: translateX(calc(60px * 1));
}