.noWordsWrap p {
    text-align: center;
}

.noWordsWrap img{
    margin: 0 auto;
}

.wrap{
   overflow-y: auto; 
   overflow-x: hidden;
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    scrollbar-gutter: stable;
}

.bgi{
    opacity: 0.7;
    width: 100%;
    height: 300px;
    background-image: url("/image/Venus-min.png"), 
    url("/image/space-ship-min.png");
    background-position: top right, top 60px left;
    background-size: 300px 300px, 32px 32px;
    transform: rotate(40deg);
    background-repeat: no-repeat;
    z-index: -111;
}