.noWordsWrap p {
    text-align: center;
}

.noWordsWrap img{
    margin: 0 auto;
}

.wrap{
   overflow-y: auto; 
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    scrollbar-gutter: stable;
    /* scrollbar-color: var(--base-color-blue) #fff;
  scrollbar-width: thin; */
}


.green{
    color: green;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}