.wordWrap {
  border-radius: 20px;
  padding: 4px 28px;
  height: auto;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(40px);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    180deg,
    rgba(232, 232, 232, 0.5) 0%,
    rgba(94, 144, 158, 0.5) 100%
  );
}
.customButton {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
}
.bsWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.bsWrap > * {
    flex: 1;
}
.baseForm {
  font-family: var(--font-family-messiri);
  text-align: start;
}
.baseForm p:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
}
.baseForm p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  color: var(--third-color-gray);
}
.dotWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.dotWrap span {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}
.irrForm p {
  font-weight: 400;
  font-size: 14px;
}
.irrForm p::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
  margin-right: 20px;
}

.baseFrom::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}
.sound {
  fill: var(--second-color-gray);
  width: 24px;
  height: 24px;
}
.arrow {
  width: 32px;
  height: 16px;
  fill: var(--base-color-blue);
}
