.navBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.navigation {

  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--background-white-default);
  box-shadow: 0 -4px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  width: 375px;
  background-color: var(--background-white-default);
}

.navigation ul li {
  position: relative;
  list-style: none;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.navigation ul li a {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

.active {
  background: linear-gradient(180deg, #5a8b96 11%, #9aa281 47%, #e2bb69 79%) !important;
  transform: translateY(-15px);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  transition: 0.5s;
  width: 50px;
  height: 50px;

  padding: 10px;
  fill: transparent;
  stroke: var(--primary-1);
}

.navigation ul li a .iconone{
  fill: var(--primary-1);
  stroke: transparent;
}
.active .icon{
  width: 55px !important;
  height: 55px !important;
  stroke: var(--background-white-default) !important;
}

.indicator {
  position: absolute;
  width: 85px;
  height: 70px;
  background-color: var(--background-white-default);
  bottom: 18px;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 -4px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.indicator::before {
  content: " ";
  position: absolute;
  top: 4px;
  left: -18px;
  width: 20px;
  height: 30px;
  background-color: transparent;
  border-bottom-right-radius: 50px;
  box-shadow: 10px 1px 0 0 var(--background-white-default);
  transform: rotate(34deg);
}
.indicator::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -18px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-bottom-left-radius: 70px;
  box-shadow: -1px 10px 0 0 var(--background-white-default);
  transform: rotate(-4deg);
}
.noActive {
  width: 10px;
  height: 10px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

.disabled svg{
  cursor: default;
}

@media screen and (max-width: 374px){
  .background{
    width: 100%;
}

.navigation ul {
      width: 100%;
      justify-content: space-evenly;
}

}
