.starWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 26px;
}

.star {
  width: 44px;
  height: 44px;
  fill: #e4e5e9;
  transition: fill 0.2s ease;
}

.star.active {
  stroke: red;
}
