.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* margin-bottom: 80px; */
}
.btn {
  background: #ffffff;
  border-radius: 12px;
  width: 150px;
  /* width: 20vh; */
  border: 1px solid #a2a2a2;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 105%;
  color: #000;
  padding: 32px 0;
}
.activeBtn {
  border: 3px solid #5e909e;
}

.correct,
.showCorrect {
  border: 3px solid var(--other-1);
}

.wrong {
  border: 3px solid var(--other-3);
}
.checkAnswer {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--other-3);
  margin-top: 24px;
}

@media screen and (min-height: 640px) {
  .btn {
    /* width: 20vh; */
    width: 40vw;
  }
}
