.div h1,
.div p {
  text-align: center;
}
.div .title {
  font-weight: 600;
  font-size: 30px;
  color: var(--primary-1);
  text-align: center;
  line-height: 100%;
  margin-bottom: 8px;
}

.form {
  margin-bottom: 34px;
  padding: 0 10px;
}
.warning {
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-1);
  margin-bottom: 32px;
}

@media screen and (max-height: 767px) {
  .warning {
    margin-bottom: 18px;
    font-size: 12px;
  }
  .div .title {
    font-size: 28px;
  }
  .variant {
    font-size: 14px;
  }
  .form{
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-height: 660px) {
  .warning {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .div .title {
    font-size: 18px;
  }
  .variant {
    font-size: 14px;
  }
}