.div h1,
.div p {
  text-align: center;
}
.div .title {
  font-weight: 600;
  font-size: 30px;
  color: var(--primary-1);
  text-align: center;
  line-height: 100%;
  margin-bottom: 8px;
}

.form {
  margin-bottom: 48px;
  padding: 0 10px;
}
.warning {
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-1);
  margin-bottom: 32px;
}
