.inputWrap{
    position: relative;
}
.icon {
  width: 16px;
  height: 16px;
  fill: var(--text-secondary);
  stroke: var(--text-secondary);
  color: var(--text-secondary);
  position: absolute;
  left: 24px;
  top: 16px;
}

.input {
  width: 100%;
  min-height: 48px;
  border-radius: 48px;
  padding: 12px 17px 12px 49px;
  border: 1px solid var(--text-secondary);
  outline: none;
  background-color: transparent;
  caret-color: var(--text-secondary);
}

input[type="password"] {
  -webkit-text-security: disc;   /* disc, circle, square, none */
  color: var(--text-secondary); /* green dots */
}

.input::placeholder {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 12px;
}

.eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 27px;
    width: 24px;
  height: 24px;
}

.iconEye{
    width: 24px;
  height: 24px;

}

.iconEyeSee{
    fill: transparent;
  stroke: var(--text-secondary);
}

.iconEyeHide{
        fill: var(--text-secondary);
  stroke: transparent;
}

.errorClass{
  border: 2px solid var(--other-3);
}

.errorClass::placeholder{
  color: var(--other-3);
}