.checkbox {
  display: flex;
  gap: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: inset 0 6px 8px 3px rgba(0, 0, 0, 0.1);
  background: #efefef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "\1F609";
  top: 1px;
  background-color: #d9dad7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--other-1);
}

input:hover + .slider {
  box-shadow: 0 0 2px var(--other-3);
}

input:checked + .slider:before {
  content: "\1F60E";
  background-color: #222831;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
