.checkbox {
  display: flex;
  gap: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  /* width: 50px;
  height: 26px; */
  width: 35px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: inset 0 6px 8px 3px rgba(0, 0, 0, 0.1);
  background: #efefef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  /* width: 20px;
  height: 20px; */
  width: 12px;
  height: 12px;
  left: 3px;
  bottom: 2px;
  background-color: #f0f0f0; /* сірий */
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.25);
}

input:checked + .slider {
  background-color: var(--other-1);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #f0f0f0; /* той самий сірий */
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.25);
  left: -5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
