
.item {
  background-color: var(--background-white-default);
  width: 90px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  flex-grow: 1;
}
.icon {
  width: 24px;
  height: 24px;
}

.text{
    font-weight: 500;
font-size: 12px;
text-align: center;
color: var(--text-secondary);
}

@media (min-height: 1100px) {
  .item{
    width: 180px;
    gap: 4px;
  }
  .item p{
    font-size: 32px;
  }
  .icon{
    width: 42px;
    height: 42px;
  }
  .text{
    font-size: 32px;
  }
}
@media (max-height: 800px) {
  .icon {
  width: 16px;
  height: 16px;
}
}