.wrap{
  position: relative;
  z-index: -1;
  background-color: transparent;
  width: fit-content;
}
.wrap img{
width: 80px;
height: 60px;
}
.wrap h4 {
  color: var(--base-color-blue);
  font-weight: 400;
  font-size: 32px;
}
.wrap h4 span {
  color: var(--base-color-yellow);
}
.wrap p {
  color: var(--base-color-blue);
  font-weight: 400;
  font-size: 13px;
}
