.wrap{
  position: relative;
  z-index: -1;
  background-color: transparent;
  width: fit-content;
}
.wrap img{
width: 100px;
height: 80px;
}

.mvp{
  width: 100%;
  text-align: center;
  background: var(--other-2);
  padding: 2px 8px;
  font-weight: 500;
font-size: 12px;
}
/* .wrap h4 {
  color: var(--base-color-blue);
  font-weight: 400;
  font-size: 32px;
}
.wrap h4 span {
  color: var(--base-color-yellow);
}
.wrap p {
  color: var(--base-color-blue);
  font-weight: 400;
  font-size: 13px;
} */
