.wrap {
  display: block;
  position: relative;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
}

.wrap img {
  width: 100px;
  height: 80px;
}

.mvp {
  width: 100%;
  text-align: center;
  background: var(--other-2);
  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
}
