.progress {
  position: absolute;
  width: 16em;
  height: 16em;
}

.baseForm {
  top: 3.2em;
  left: 1.5em;
  transform: rotate(100deg);
}

.psForm {
  top: 1em;
  left: 27px;
  transform: rotate(193deg);
}

.ppForm {
  top: 1em;
  left: 4em;
  transform: rotate(288deg);
}
