.rset {
  margin-bottom: 20px;
  display: flex;
}

.inputWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--text-secondary);
  cursor: pointer;
  height: 56px;
  width: 105px;
  font-weight: 500;
  font-size: 12px;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.inputWrapDisabled {
  background-color: var(--soft); 
  opacity: 0.5;
  cursor: not-allowed;
}

.inputWrap:first-child {
  border-radius: 48px 0 0 48px;
}

.inputWrap:last-child {
  border-radius: 0 48px 48px 0;
}

.input[type="radio"] {
  display: none;
}

.inputWrapChecked {
  border: 2px solid var(--primary-1);
}
@media screen and (max-height: 767px) {
  .inputWrap {
      height: 3rem;
  }
  .form {
    margin-bottom: 24px;
  }
  .rset{
    margin-bottom: 0.05rem;
  }
}

@media screen and (max-height: 660px) {
  .inputWrap {
      padding: 16px 0;
  }
  .form {
    margin-bottom: 2rem;
  }
  .label{
    font-size: 0.7rem;
  }
}