.wrap{
    position: relative;
}

.wrap h2{
    text-align: center;
    font-weight: 700;
    line-height: 1;
    font-size: 30px;
    color: var(--primary-1);
}
.iconArrowBack{
    width: 28px;
    height: 28px;
    fill: var(--primary-1);
    position: absolute;
    top: 0;
    left: 0;
}
.orWrap{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
}

.orWrap > * {
    color: var(--primary-1);
    font-size: 14px;
}

.orWrap a{
    text-decoration: underline;
}