.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------------------------------------------- */
.headlineWrap{
    /* border: 1px solid red; */
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
    background-color: var(--background-white-default);
   
    /* background-color: wheat; */
}

.headline{
    font-weight: 400;
font-size: 48px;
text-transform: capitalize;
background-color: var(--background-white-default);
line-height: 1;
}
.headline span:nth-child(1){
    color: var(--primary-1);

}
.headline span:nth-child(2){
    color: var(--primary-2);
    font-size: 64px;
    position: absolute;
    top: 20px;
    background-color: var(--background-white-default);
    border-radius: 50%;
    padding-bottom: 6px;
    margin-left: 13px;
}
.headline span:nth-child(2):before{
    content: "";
    width: 20px;
    height: 22px;
    background-color: transparent;
    position: absolute;
    bottom: 4px;
    left: -14px;
    border-top-right-radius: 50px;
    box-shadow: 4px -4px 0 0 var(--background-white-default);
    transform: rotate(-26deg);
}
.headline span:nth-child(2):after{
    content: "";
    width: 20px;
    height: 22px;
    background-color: transparent;
    position: absolute;
    bottom: 4px;
    right: -14px;
    border-top-left-radius: 50px;
    box-shadow: -4px -4px 0 0 var(--background-white-default);
    transform: rotate(26deg);
}
.droopyHL{
    color: transparent;
    font-size: 64px;
    position: absolute;
    top: 20px;
    background-color: transparent;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-left: 13px;
padding-bottom: 6px;
    z-index: -1;
}

.droopyHL:before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    bottom: 12px;
    left: -12px;
    border-top-right-radius: 50px;
    box-shadow: 4px -4px 0 0 var(--background-white-default);
    transform: rotate(-22deg);
}
.droopyHL:after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    bottom: 12px;
    right: -12px;
    border-top-left-radius: 50px;
    box-shadow: -4px -4px 0 0 var(--background-white-default);
    transform: rotate(22deg);
}


/* ----------------------------------------------------------------------------------------------------------------------------- */
.intro p{
    text-align: center;
    line-height: 1;
    opacity: 0;
  transform: translateX(-100px);
  animation: flyFromLeft 1s ease-out forwards;
  animation-delay: 1s;
}
.intro p span{
    display: inline-block;
}

.image{
    margin-top: 33px;
    margin-bottom: 46px;
      opacity: 0;
  transform: scale(3) rotate(-30deg);
  animation: scaleBounceRotate 2s ease-out forwards;
  animation-delay: 0.5s;
}



.link{
border-radius: 48px;
width: 333px;
height: 48px;
line-height: 48px;
text-align: center;
font-size: 20px;
box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
background: var(--primary-1);
color: var(--background-white-default);
margin-top: 48px;
opacity: 0;
  transform: scale(2);
  animation: scaleAndBounce 2s ease forwards;
  animation-delay: 2s;
}

.signWrap{
    width: 150px;
    margin: 22px auto 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.signWrap div{
    display: flex;
}
.signWrap div span {
    margin-right: 4px;
}
.signWrap a{
color: var(--primary-1);}

@keyframes flyFromLeft {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleAndBounce {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  60%{
    opacity: 1;
    transform: scale(0.7);
  }
  80%{
    opacity: 1;
    transform:  scale(1.1);
  }
  90%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleBounceRotate {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  60%{
    opacity: 1;
    transform: rotate(-10deg) scale(0.7);
  }
  80%{
    opacity: 1;
    transform: rotate(5deg) scale(1.2);
  }
  90%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-height: 811px) {
  .signWrap{
    margin: 12px auto;
}
.link{
  margin-top: 8px;
}
}

@media screen and (max-height: 711px) {
  .image{
margin: 4px auto;
width: 200px;
height: 200px;
  }
  .signWrap{
    margin: 4px auto;
}
.link{
  margin-top: 4px;
}
}

@media screen and (max-width: 391px) {
  .link{
    width: 100%;
  }
}