.navBar {
  background-color: #fff;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 12px;
}
.navigation {
  width: 400px;
  height: 60px;
  background-color: #5e909e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 -4px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 2;
  cursor: pointer;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li.active a .icon {
  /* background-color: #fff; */
  background: linear-gradient(#6fa1ad, #e9ab55);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  width: 60px;
  height: 60px;
  padding: 10px;
  fill: transparent;
  stroke: white;
}

.navigation ul li.active a .icon {
  transform: translateY(-16px);
}

.navigation ul li a .text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e909e;
  top: -40%;
  border-radius: 50%;
  /* border: 6px solid #222327; */
  transition: 0.5s;
  box-shadow: 0 -4px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.indicator::before {
  content: " ";
  position: absolute;
  top: 10%;
  left: -14px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 0px 0 0 #5e909e;
  transform: rotate(22deg);
}
.indicator::after {
  content: " ";
  position: absolute;
  top: 8%;
  right: -12px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 10px 0 0 #5e909e;
  transform: rotate(-1deg);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

/* ------------------------------------------------------------------------------ */

/* .navigation{
    width: 400px;
    height: 70px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }

  .navigation ul{
    display: flex;
    width: 350px;
  }

  .navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

    .navigation ul li a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .navigation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: #222327;
    }

    .navigation ul li.active a .icon{
        transform: translateY(-32px);
    }

     .navigation ul li a .text{
        position: absolute;
        color: #222327;
        font-weight: 400;
        font-size: 0.75em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
     }

     .navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
     }

     .indicator{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: #29fd53;
        top: -50%;
        border-radius: 50%;
        border: 6px solid #222327;
        transition: 0.5s;
     }

     .indicator::before{
        content: " ";
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-top-right-radius: 20px;
        box-shadow: 0px -10px 0 0 #222327;

     }
     .indicator::after{
        content: " ";
        position: absolute;
        top: 50%;
        right: -22px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-top-left-radius: 20px;
        box-shadow: 0px -10px 0 0 #222327;

     }

     .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(70px * 0));
     }

      .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(70px * 1));
     }

      .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(70px * 2));
     } */
