.rezult {
  padding: 63px 0 23px;
  position: relative;
  height: 100vh;
  z-index: 0;
}
.innerContainer {
  padding: 16px 32px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    180deg,
    rgba(232, 232, 232, 0.5) 0%,
    rgb(137 169 178 / 50%) 100%
  );
  position: relative;
  z-index: 1;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 83%;
  text-align: center;
  color: var(--primary-1);
}
.img {
  margin: 0 auto;
  width: 20vh;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-1);
  margin-top: 10px;
}
.strongText {
  font-weight: 700;
  font-size: 16px;
}
.list {
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 0.5rem;
}
.item {
  background-color: var(--background-white-default);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 24px;
}
.icon {
  width: 21px;
  height: 29px;
}
.btnContainer {
  justify-content: space-between;
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.rating {
  margin-top: 36px;
}
.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  text-align: center;
  color: white;
  padding: 16px 25px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--primary-1);
  border: none;
  border-radius: 48px;
}
.like {
  margin-top: 10px;
  font-family: var(--font-family-messiri);
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-1);
}
.titleModal {
  font-family: var(--font-family-messiri);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-1);
}
.imgModal {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  display: block;
}
.pModal {
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  margin-top: 25px;
  color: var(--primary-1);
}
.positionWrapper {
  position: relative;
}

.bgImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, #5a8b96 11%, #9aa281 47%, #e2bb69 79%);

  margin: 0 auto;
}
.imgModalAchiements {
  width: 240px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 50px;
}
.textWrapper {
  backdrop-filter: blur(20px);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    186deg,
    rgb(255 255 255 / 50%) 0%,
    rgb(223 245 252 / 50%) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
}
.firstText {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-1);
}
