.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 73px;
}
.btn {
  background: linear-gradient(180deg, #8fb8b9 0%, #deaa5d 100%);
  border-radius: 12px;
  width: 135px;
  height: 84px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 105%;
  color: #000;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.activeBtn {
  border: 4px solid #5E909E; 
}
