.progress-container {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.progress-segment {
  flex: 1;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.progress-segment.passed {
  background-color: #7EA2A2; 
}

.progress-segment.current {
  background-color: var(--primary-2); 
}

.progress-segment.pending {
  background-color: var(--soft); 
}
.progress-segment.error {
  background-color: red; 
}