.inputWrap {
  position: relative;
}
.icon {
  width: 16px;
  height: 16px;
  fill: var(--text-secondary);
  stroke: var(--text-secondary);
  color: var(--text-secondary);
  position: absolute;
  left: 24px;
  top: 16px;
}

.input {
  width: 100%;
  min-height: 48px;
  border-radius: 48px;
  padding: 12px 17px 12px 49px;
  border: 1px solid var(--text-secondary);
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 12px;
}

.errorMessage {
  color: var(--other-3);
}
