.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-image: 
  url("/satellite\ in\ orbit-min.png"), 
  url("/Star-8-min.png"), 
  url("/Star-2-min.png"),
    url("/Star-8-min.png"), 
    url("/Star-11-min.png"),
    url("/Star-11-min.png"), 
    url("/Star-8-min.png"),
    url("/Star-11-min.png"), 
    url("/Star-2-min.png"),
    url("/Star-11-min.png");
  background-position: 
  bottom left,
   top 4.375rem left 12.5rem,
  top 5.3125rem left 18.75rem,
  top 9.375rem left 3.125rem,
  top 7.5rem left 12.5rem,
  top 9.375rem left 17.5rem,
  bottom 8.125rem left 1.875rem,
  bottom 7.5rem left 18.75rem,
  bottom 2.5rem left 18.75rem,
  bottom 1.25rem left 12.5rem;
  /* top 70px left 200px, 
  top 85px left 300px,
  top 150px left 50px, 
  top 120px left 200px, 
  top 150px left 280px, 
  bottom 130px left 30px,
  bottom 120px left 300px,
  bottom 40px left 300px,
  bottom 20px left 200px; */
  background-repeat: no-repeat;
  background-size:  190px 190px, /* for satellite */
  auto, auto, auto, auto, auto, auto, auto, auto, auto;
}
.logoWrap {
  position: absolute;
  top: 0;
  left: 20px;
}
.textWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 60px 20px 40px;
  width: 100%;
  height: auto;
  backdrop-filter: blur(40px);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    180deg,
    rgba(232, 232, 232, 0.5) 0%,
    rgba(94, 144, 158, 0.5) 100%
  );
}

.textWrap h3 {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--primary-1);
}

.textWrap p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--primary-1);
}

.textWrap .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--text-button-defalt);
  border-radius: 48px;
  width: 100%;
  padding: 11px;
  background: var(--primary-1);
}
