.wrap {
  position: relative;
}

.planets {
  height: 100vh;
  background-image: url("/image/planets/planetThree.png"),
    url("/image/planets/planetTwo.png"), url("/image/planets/planetOne.png");

  background-position: top 37px right, bottom 95px left, bottom 75px center;

  background-repeat: no-repeat;
  background-size: 178px 178px, 140px 140px, 59px 59px;
}
.planet {
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(180deg, #5a8b96 11%, #9aa281 47%, #e2bb69 79%);
}
.planet:nth-child(1) {
  width: 178px;
  height: 178px;
  top: 37px;
  right: -12px;
}
.planet:nth-child(2) {
  width: 140px;
  height: 140px;
  bottom: 95px;
  left: -22px;
}
.planet:nth-child(3) {
  width: 44px;
  height: 44px;
  bottom: 30px;
  left: 159px;
}
.glass {
  z-index: -1;
  width: 100%;
  margin-top: 24px;
  border-radius: 20px;
  padding: 30px 12px;
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    180deg,
    rgba(232, 232, 232, 0.5) 0%,
    rgba(232, 232, 232, 0.5) 30%,
    rgba(94, 144, 158, 0.3) 50%,
    rgba(94, 144, 158, 0.3) 100%
  );
  /* backdrop-filter: blur(40px); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  border-radius: 12px;
}

.bgGame {
  background-image: url("/image/game/planet.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}
