.weekList{
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}
.weekList li{
    border: 1px solid var(--text-secondary);
    padding: 12px;
    flex-grow: 1;
}

.weekList li p{
    font-weight: 500;
font-size: 12px;
line-height: 130%;
text-align: center;
color: var(--text-primary);
}

.weekList li:first-child{
    border-radius: 48px 0 0 48px;
}
.weekList li:last-child{
    border-radius: 0 48px 48px 0;
}

.weekList .todayWrap{
    border: 2px solid var(--primary-1) ;
}
@media (min-height: 1100px) {
    .weekList{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .weekList li p{
        font-size: 32px;
    }
}
@media (max-height: 800px) {
    .weekList li{padding: 4px;}
    
}