.div {
  display: flex;
  flex-direction: column;
  height: 85vh;
  height: 85dvh;
}

.dicheadline {
  font-family: var(--font-family-messiri);
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--primary-1);
  text-transform: capitalize;
}
.checkboxLearntWrap{
  display: flex;
  gap: 4px;
}
.checkboxLearntWrap span{
  
}
.checkboxLearnt{
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
}
.checked{
  background-color: green;
}
/* .markup ul {
  display: flex;
  justify-content: space-between;
}
.markup ul li p {
  color: var(--base-color-gray);
}
.markup ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.color {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid var(--base-color-gray);
}
.markup ul li:nth-child(1) .color {
  background: linear-gradient(180deg, #65b441 0%, #aaf886 100%);
}
.markup ul li:nth-child(2) .color {
  background: linear-gradient(180deg, #ffb612 0%, #ffdd90 100%);
}
.markup ul li:nth-child(3) .color {
  background: linear-gradient(180deg, #c43d28 0%, #ff8c7a 100%);
} */
