.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.form label {
  color: var(--second-color-gray);
  font-weight: 500;
  font-size: 13px;
}
.form div {
  position: relative;
}
.icon {
  width: 16px;
  height: 16px;
  fill: var(--second-color-gray);
  stroke: var(--second-color-gray);
  color: var(--second-color-gray);
  position: absolute;
  left: 24px;
  top: 16px;
}
.form input {
width: 100%;
  min-height: 48px;
  border-radius: 48px;
  padding: 12px 17px 12px 49px;
  border: 1px solid var(--third-color-gray);
}

.form input::placeholder {
  color: var(--second-color-gray);
  font-weight: 400;
  font-size: 12px;
}


