.wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;
}
.or {
  display: flex;
  margin-top: 12px;
}
.or hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--text-secondary);
  height: 0;
}
.or p {
  color: var(--primary-1);
  font-weight: 400;
  font-size: 14px;
  margin: 0 20px;
}
.wrap button {
  border: 1px solid var(--text-secondary);
  border-radius: 48px;
  padding: 14px 50px;
  width: 310px;
  height: 48px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
  text-align: right;
}

.wrap div {
  position: relative;
}
.icon {
  position: absolute;
  left: 55px;
  top: 14px;
  width: 20px;
  height: 20px;
  fill: var(--text-primary);
  stroke: var(--text-primary);
  color: var(--text-primary);
}
