.wrap{
    padding: 24px;
    margin: 0 auto;
    width: 358px;
    border-radius: 16px;
    background-image: linear-gradient(
        #BCADDF,
        #FBD2EE
    );
}

.instructions{
    margin-bottom: 24px;
    width: fit-content;
    margin: 0 auto;
}
.instructions p{
    text-align: center;
    max-width: 264px;
}

.instructions p:nth-child(1){
    font-size: 20px;
    margin-bottom: 16px;
}

