:root {
  --font-family-messiri: "ElMessiri";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base-color-blue: #6fa1ad;
  --base-color-yellow: #e9ab55;
  --base-color-gray: #808080;
  --second-color-gray: #a0a2a3;
  --third-color-gray: #7f8689;
  --font-color-dark: #3b3c3d;
  --fourth-color-gray: #9eaec5;
  --background-white-default: #fcfafa;

  --other-1: #0d9467;
  --other-3: #f97316;
  --primary-1: #5e909e;
  --primary-2: #edb35c;
  --soft: #f0f0f0;
  --secondary: #a0a2a3;
  --text-primary: #303131;
}
.scroll-area::-webkit-scrollbar {
  overflow-y: auto;
  padding-right: 1rem;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: var(--second-color-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--base-color-blue);
  height: 46px;
}
html,
body {
  margin: 0;
  font-family: var(--font-family-messiri);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--font-family-messiri);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea,
input {
  outline: none;
  font-family: var(--font-family-messiri);
}

@font-face {
  font-family: "ElMessiri";
  src: url("./font/ElMessiri-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 391px){
  .container{width: 100%;}

}

/* @media screen and (max-width: 329px){

} */

/* @media only screen and (min-width: 375px) {
.container {
max-width: 375px;
}
} */

/* @media only screen and (min-width: 768px) {
.container {
 padding: 0 32px;
 max-width: 768px;
}
}
  
 @media only screen and (min-width: 1280px) {
.container {
padding: 0 100px;
 max-width: 1280px;
}
} */
