.progressWrap {
  position: relative;
  text-align: center;
}

.progress {
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
}
.progressTrWrap {
  position: relative;

  width: 100%;
  height: 240px;
}
.astroHome {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 100px;
  z-index: 111;
}

@media (min-height: 1000px) {
  .progress {
    width: 400px;
    height: 400px;
  }

  .astroHome {
    width: 150px;
  }
}
@media (max-height: 800px) {
  .progress {
    width: 200px;
    height: 200px;
  }
}
@media (max-height: 640px) {
  .progressWrap {
    height: fit-content;
  }
  .progressTrWrap {
    visibility: hidden;
  }
}
