.type {
  padding: 12px 20px;
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    205deg,
    rgba(90, 139, 150, 0.8) 0%,
    rgba(154, 162, 129, 0.8) 32.21%,
    rgba(226, 187, 105, 0.8) 92.79%
  );
  border-radius: 30px;
  margin-bottom: 48px;
  position: relative;
  cursor: pointer;
}
.disabled {
  backdrop-filter: blur(40px);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    47deg,
    #eaeaea 22.32%,
    #d1d1d2 55.54%,
    #adadb1 93.47%
  );
  cursor: none;
}
.type:last-child {
  margin-bottom: 0;
}
.iconContainer,
.link {
  display: flex;
  align-items: center;
}
.iconDisabled {
  display: none;
}
.icon {
  width: 36px;
  height: 36px;
}
.settings {
  width: 24px;
  height: 24px;
}
.img {
  position: absolute;
  top: -30px;
  right: 0;
}
.repair {
  top: -22px;
}
.text {
  font-size: 14px;
  line-height: 130%;
  color: var(--background-white-default);
  max-width: 205px;
  /* margin-top: 8px; */
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: var(--primary-1);
}
.disTitle {
  color: var(--secondary);
}
.disIcon {
  stroke: var(--secondary);
}
.btn {
  background-color: transparent;
  border: none;
}

@media screen and (max-height: 767px) {
  .icon {
    width: 24px;
    height: 24px;
  }
  .img {
    width: 16vh;
  }
  .repair {
    width: 12vh;
  }
  .type {
    margin-bottom: 4vh;
  }
  .text {
    font-size: 12px;
  }
  .title {
    font-size: 22px;
  }
}
