.wrap{
    margin-top: 8px;
}

.wrap p{
    margin-bottom: 4px;
}
.list{
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(1ch, 1fr));
}
.valid{
    color: var(--second-font-color);
}
.invalid{
    color: var(--text-secondary);
}